<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>Thuis | Blog | Blog-article6</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link href="fonts/lineo-icon/style.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="/style.css">


    <script src="js/jquery-1.11.1.min.js" defer></script>
		<script src="http://maps.google.com/maps/api/js?sensor=false&amp;language=en" defer></script>
		<script src="js/plugins.js" defer></script>
		<script src="js/app.js" defer></script>
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->

	</head>


	<body>

		<div id="site-content">
			<header class="site-header">
				<div class="top-header">
					<div class="container">
						<a href="../index.html" id="branding" class="site-branding">
							<img src="../images/logo.png" alt="Company Name" class="logo" />
							<div class="logo-text">
								<h1 class="site-title">Company Name</h1>
								<small class="description">Taline goes here</small>
							</div>
						</a> <!-- #branding -->
					</div> <!-- .container -->
				</div> <!-- .top-header -->

				<div class="bottom-header">
					<div class="container">
						<div class="main-navigation">
							<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
							<ul class="menu">
								<li class="menu-item"><a href="../index.html">Thuis</a></li>
								<li class="menu-item"><a href="../about.html">Over ons</a></li>
								<li class="menu-item"><a href="../blog.html">Blog</a></li>
								<li class="menu-item"><a href="../contact.html">Contacten</a></li>
							</ul> <!-- .menu -->
						</div> <!-- .main-navigation -->
						<div class="mobile-navigation"></div>
					</div>
				</div>

			</header> <!-- .site-header -->


			<main class="main-content">
				<div class="breadcrumbs">
					<div class="container">
						<a href="../index.html">Thuis</a>
            <a href="../blog.html">Blog</a>
						<span>Blog-article6</span>
					</div>
				</div>

				<div class="main-content">
          <div class="fullwidth-block">
            <div class="container">
              <h2 class="section-title">Blog</h2>
              <div class="blog-content">
                <div class="news">
                  <figure>
                    <img src="../images/Медиа/22.jpg" alt="" aria-hidden="true" />
                  </figure>
                  <h2 class="blog-title">
                    Wat een beursgang&nbsp;is: Hoe en&nbsp;waarom deelnemen aan een beursgang?
                  </h2>
                  <p class="entry-descr">
                    Een IPO, of&nbsp;Initial Public Offering, is&nbsp;het proces waarbij een priv&eacute;bedrijf zijn aandelen voor het eerst te&nbsp;koop aanbiedt op&nbsp;de&nbsp;publieke markt. Dit betekent dat het bedrijf naar de&nbsp;beurs gaat en&nbsp;dat de&nbsp;aandelen op&nbsp;een beurs worden verhandeld. Voor beleggers is&nbsp;een IPO een kans om&nbsp;de&nbsp;aandelen van een bedrijf te&nbsp;kopen voordat ze&nbsp;op&nbsp;de&nbsp;open markt worden verhandeld.
                  </p>
                  <p class="entry-descr">
                    Hier zijn een paar redenen waarom deelname aan een beursgang interessant kan zijn voor beleggers:
                  </p>
                  <p class="entry-descr">
                    Toegang krijgen tot een veelbelovend bedrijf: Door deel te&nbsp;nemen aan een IPO kunnen beleggers een bedrijf bezitten vanaf het allereerste begin van zijn openbare leven. Dit is&nbsp;vooral aantrekkelijk in&nbsp;het geval van bedrijven met innovatieve producten of&nbsp;technologie&euml;n die een hoog groeipotentieel beloven.
                  </p>
                  <p class="entry-descr">
                    Winstkans: Als de&nbsp;IPO succesvol&nbsp;is, kunnen de&nbsp;aandelen van het bedrijf op&nbsp;de&nbsp;beurs worden verhandeld met een premie ten opzichte van de&nbsp;intekenprijs. Beleggers die de&nbsp;aandelen tegen de&nbsp;IPO-prijs hebben gekocht, kunnen ze&nbsp;op&nbsp;de&nbsp;beurs verkopen tegen een hogere prijs en&nbsp;zo&nbsp;winst maken.
                  </p>
                  <p class="entry-descr">
                    Portefeuille Diversificatie: Deelnemen aan een IPO kan deel uitmaken van een strategie om&nbsp;een beleggingsportefeuille te&nbsp;diversifi&euml;ren. Een verscheidenheid aan beleggingen helpt om&nbsp;het risico te&nbsp;verminderen en&nbsp;de&nbsp;kans op&nbsp;winst te&nbsp;vergroten.
                  </p>
                  <p class="entry-descr">
                    Deel in&nbsp;het succes van het bedrijf: Investeerders die deelnemen aan een IPO kunnen zich verbonden voelen met het bedrijf en&nbsp;zijn succes. Dit kan een emotionele band cre&euml;ren en&nbsp;de&nbsp;motivatie om&nbsp;het bedrijf op&nbsp;lange termijn te&nbsp;steunen.
                  </p>
                  <p class="entry-descr">
                    Er&nbsp;zijn echter ook risico&rsquo;s verbonden aan deelname aan een beursgang. Nieuwe bedrijven kunnen minder voorspelbaar zijn en&nbsp;een hoger risiconiveau hebben dan gevestigde spelers op&nbsp;de&nbsp;markt. Het is&nbsp;daarom belangrijk om&nbsp;grondig onderzoek te&nbsp;doen naar een bedrijf, het bedrijfsmodel en&nbsp;de&nbsp;vooruitzichten voordat je&nbsp;deelneemt aan een beursgang.
                  </p>
                  <p class="entry-descr">
                    Over het algemeen bieden beursintroducties een opwindende kans voor beleggers om&nbsp;toegang te&nbsp;krijgen tot aandelen in&nbsp;veelbelovende bedrijven en&nbsp;deel te&nbsp;nemen aan hun groei vanaf het allereerste begin van de&nbsp;beursgang. De&nbsp;beslissing om&nbsp;deel te&nbsp;nemen aan een beursgang moet echter gepaard gaan met een zorgvuldige analyse en&nbsp;overleg met een financieel adviseur.
                  </p>
                </div>
              </div> <!-- .row -->
            </div> <!-- .container -->
          </div> <!-- .latest-news-section -->
				</div> <!-- .main-content -->
			</main>

			<div class="site-footer">
				<div class="widget-area">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Contact</h3>
									<address> Company Name INC. 523 Burt Street, Omaha
									</address>
									<a href="#">Phone: +1 823 424 9134</a>
									<a href="mailto:info@company.com">info@company.com</a>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Company</h3>
									<ul class="no-bullet">
										<li><a href="#">About us</a></li>
										<li><a href="#">Infoline</a></li>
										<li><a href="#">Team</a></li>
										<li><a href="#">Join us</a></li>
										<li><a href="#">Cooperation</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Products</h3>
									<ul class="no-bullet">
										<li><a href="#">Life insurance</a></li>
										<li><a href="#">Home insurance</a></li>
										<li><a href="#">Car insurance</a></li>
										<li><a href="#">Business insurance</a></li>
										<li><a href="#">Investment insurance</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Our Solutions</h3>
									<ul class="no-bullet">
										<li><a href="#">Presentation</a></li>
										<li><a href="#">Testimonials</a></li>
										<li><a href="#">Examples</a></li>
										<li><a href="#">Our experts</a></li>
										<li><a href="#">Resources</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Press Room</h3>
									<ul class="no-bullet">
									<li><a href="#">Advertisement</a></li>
									<li><a href="#">Interviews</a></li>
									<li><a href="#">Hot news</a></li>
									<li><a href="#">Photos</a></li>
									<li><a href="#">Marketing</a></li>
									</ul>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-2">
								<div class="widget">
									<h3 class="widget-title">Resources</h3>
									<ul class="no-bullet">
										<li><a href="#">Sed imperdiet magna</a></li>
										<li><a href="#">Pellentesque molestie</a></li>
										<li><a href="#">Nulla luctus cursus</a></li>
										<li><a href="#">Ligula vel lacinia</a></li>
										<li><a href="#">Mauris scelerisque</a></li>
									</ul>
								</div>
							</div>
						</div> <!-- row -->
					</div>  <!-- container -->
				</div>  <!-- widget-area -->

				<div class="bottom-footer">
					<div class="container">
						<nav class="footer-navigation">
							<a href="../index.html">Thuis</a>
							<a href="../about.html">Over ons</a>
							<a href="../blog.html">Blog</a>
							<a href="../contact.html">Contacten</a>
						</nav>

						<div class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved.</div>
					</div> <!-- container -->
				</div> <!-- bottom-footer -->
			</div> <!-- site-footer -->
		</div> <!-- #site-content -->
	</body>

</html>
